body {
    background-color: slateblue;
    text-align: center;
}
.oi{
    color: rgb(199, 19, 55);
}
p{
    color: brown;
    font-size: large;
}
h1{ 
    color: blue;
    font-style: italic;
}
.ola{
    width: 30%;
}
.hi{
    width: 30%;
}
.hello{
    width: 30%;
}
.tchau{
    width: 30%;
}